.btnTool {
    padding: 10px 20px;
    background-color: var(--sidebar-bg);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 3px;
  user-select: none;
 
}
  
.btnTool:hover {
  /* background-color: rgba(var(--sidebar-bg), 0.61); */
}